<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- блок head с ресурсами JS и bootstrap -->
<div th:insert="blocks/head :: head"></div>

<body>

<header th:insert="blocks/navbar :: navbar"></header>


<section class="py-5 text-center mt-5 container"><h1>Инвестиционные продукты</h1></section>


<div th:if="${success}" class="container alert alert-success text-center" th:text="${success}"></div>


<!-- список инвест продуктов-->
<div class="container album py-2">
    <!--  кнопка Добавить инвестиционный продукт -->
    <div class="container mt-5">
        <a sec:authorize="hasAuthority('HEAD_MANAGER')" type="button" class="btn btn-outline-success"  th:href="@{/product/add-inv-product}">Добавить новый инвестиционный продукт</a>
    </div><br>
    <div class="container">
        <table class="table">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Название</th>
                <th class="text-center">Описание</th>
                <th class="text-center">Процентная ставка</th>
                <th class="text-center">Валюта</th>
                <th class="text-center">Минимальный депозит</th>
                <th class="text-center">Максимальный депозит</th>
                <th class="text-center">Минимальный срок вклада</th>
                <th class="text-center">Максимальный срок вклада</th>
                <th class="text-center">Актуальность</th>
                <th class="text-center">Действия</th>
            </tr>
            <tr th:each="investProduct : ${investProducts}">
                <td class="col-1 text-center" th:text="${investProduct.getId}"></td>
                <td class="col-1 text-center" th:text="${investProduct.getName}"></td>
                <td class="col-1 text-center" th:text="${investProduct.getDescription}"></td>
                <td class="col-1 text-center" th:text="${investProduct.getInterestRate}"></td>
                <td class="col-1 text-center" th:text="${investProduct.getCurrency}"></td>
                <td class="col-1 text-center" th:text="${investProduct.getMinDeposit}"></td>
                <td class="col-1 text-center" th:text="${investProduct.getMaxDeposit}"></td>
                <td class="col-1 text-center" th:text="${investProduct.getMinDepositTerm}"></td>
                <td class="col-1 text-center" th:text="${investProduct.getMaxDepositTerm}"></td>
                <td class="col-1 text-center" th:text="${investProduct.isActive}"></td>
                <td class="col-1 text-center" >
                    <div sec:authorize="isAuthenticated()" class="card-footer">
                        <div class="btn-group">
                            <a sec:authorize="hasAuthority('HEAD_MANAGER')" th:href="@{/product/edit/{id}(id=${investProduct.getId})}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                            <a sec:authorize="hasAuthority('HEAD_MANAGER')" th:href="@{/product/delete/{id}(id=${investProduct.getId})}" class="btn btn-sm btn-outline-secondary">Удалить</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div th:insert="/blocks/footer :: footer"></div>
</body>
</html>