<div th:fragment="withdrawAccountBalance">
    <!-- Modal -->
    <div class="modal fade" th:id="'withdrawModal' + ${account.getId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h1 class="text-center">Перевод средств</h1>
                <div class="container px-5">
                    <p th:if="${!account.getCurrency.equals('RUB')}" class="alert alert-primary d-flex align-items-center" >Внимание! При выводе валюты на баланс, произойдёт автоматическая конвертация в рубль по текущим курсам.</p>
                    <!--/*@thymesVar id="withdrawAccountForm" type="com.golikov.bank.domain.account.dto.WithdrawAccountBalanceFormDto"*/-->
                    <form th:action="@{/account/withdraw/{id}(id=${account.getId})}" th:object="${withdrawAccountForm}"  method="post">
                        <h5 th:text="'Баланс счёта: ' + ${account.getBalance} + ' ' + ${account.getCurrency}">  </h5><br>
                        <input class="form-control" th:field="*{amount}" type="number" placeholder="сумма" step="0.01"/> <br>
                        <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="alert alert-danger"></div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-success">Вывести</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

