<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- блок head с ресурсами JS и bootstrap -->
<div th:insert="blocks/head :: head"></div>

<body>

<header th:insert="blocks/navbar :: navbar"></header>

<div class="text-center lh-base p-4 mt-5">
    <h2>
        Добавить инвестиционный продукт.
    </h2>
    <br>
    <div class="conteiner col-6 mx-auto">
        <form method="post" th:action="@{/add-inv-product}" th:object="${investProduct}">
            <input class="form-control" th:field="*{name}" placeholder="Название инвестиционного продукта" type="text"/>
            <br>
            <textarea class="form-control" style="height: 100px" th:field="*{description}"
                      placeholder="Описание инвестиционного продукта" type="text"></textarea> <br>
            <select class="form-select" th:field="*{currency}" required="required">
                <option value="RUB">Установите валюту продукта</option>
                <option value="RUB">Российский рубль</option>
                <option value="USD">Доллар США</option>
                <option value="EUR">Евро</option>
            </select> <br>
            <input class="form-control" th:field="*{minDeposit}" placeholder="минимальная сумма" type="number" min="0"/>
            <br>
            <input class="form-control" th:field="*{maxDeposit}" placeholder="максимальная сумма" type="number"
                   min="0"/> <br>
            <input class="form-control" th:field="*{interestRate}" placeholder="ставка/доходность" type="number" min="0"
                   step="0.01"/> <br>
            <input class="form-control" th:field="*{minDepositTerm}" placeholder="минимальный срок вклада(дней)"
                   type="number" min="0"/> <br>
            <input class="form-control" th:field="*{maxDepositTerm}" placeholder="максимальный срок вклада(дней)"
                   type="number" min="0"/> <br>
            <select class="form-select" th:field="*{active}">
                <option value="true">Выберите актуальность продукта</option>
                <option value="true">Действующий</option>
                <option value="false">Архивный/удалённый</option>
            </select> <br>
            <input class="btn btn-outline-success" type="submit" value="Добавить">
        </form>
    </div>
</div>

<div th:insert="/blocks/footer :: footer"></div>
</body>
</html>