<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- блок head с ресурсами JS и bootstrap -->
<div th:insert="blocks/head :: head"></div>

<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="text-center lh-base p-4 mt-5">
    <h2> Инвестиционный продукт </h2> <br>
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <div th:if="${error}" class="container alert alert-danger text-center" th:text="${error}"></div>
</div>

<div class="container mt-5">
    <div class="card">
        <h5 class="card-header" style="background: #afecda;" th:text="${investProduct.getName}"></h5>
        <div class="card-body">
            <p th:text="${investProduct.getDescription}" class="card-text"></p>

            <div class="container">
                <table class="table">
                    <tr>
                        <th class="text-center">Ставка</th>
                        <th>Минимальный срок вклада (дней)</th>
                        <th>Максимальный срок вклада (дней)</th>
                        <th>Минимальная сумма вклада</th>
                        <th>Максимальная сумма вклада</th>
                        <th class="text-center">Валюта</th>
                    </tr>
                    <tr>
                        <td class="col-1 text-center" th:text="${investProduct.getInterestRate} + ' %'"></td>
                        <td class="col-1 text-center" th:text="${investProduct.getMinDepositTerm}"></td>
                        <td class="col-1 text-center" th:text="${investProduct.getMaxDepositTerm}"></td>
                        <td class="col-1 text-center" th:text="${investProduct.getMinDeposit}"></td>
                        <td class="col-1 text-center" th:text="${investProduct.getMaxDeposit}"></td>
                        <td class="col-1 text-center" th:text="${investProduct.getCurrency}"></td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">

                <form th:action="@{/product/invest/save}" th:object="${investment}"  method="post" class="row g-3">
                    <div class="col-md-5">
                        <label for="account" class="form-label">Выберите счёт: </label>
                        <select  id="account"  class="form-select" th:field="*{account}">
                            <option th:each="account : ${accounts}" th:value="${account.getId}" th:text="${account.getAccountNumber}  + ' __Баланс: ' + ${account.getBalance} + ' ' + ${account.getCurrency}"></option>
                        </select> <br>
                        <div th:if="${accountError}" class="container alert alert-danger text-center" th:text="${accountError}"></div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Введите сумму: </label>
                        <input class="form-control" th:field="*{balance}" placeholder="сумма инвестиции" type="number" /> <br>
                        <p th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}" class="alert alert-danger"></p>
                    </div>
                    <!-- сообщение об ошибке баланса -->
                    <div th:if="${amount}" class="container alert alert-danger text-center" th:text="${amount}"></div>

                    <div class="col-md-2">
                        <label for="days" class="form-label">Срок вклада (дней)</label>
                        <input id="days" class="form-control" th:field="*{days}" placeholder="срок вклада" type="number" /> <br>
                        <p th:if="${#fields.hasErrors('days')}" th:errors="*{days}" class="alert alert-danger">123</p>
                    </div>

                    <!-- сообщение об ошибке валидации дней -->
                    <div th:if="${daysError}" class="container alert alert-danger text-center" th:text="${daysError}"></div>

                    <div class="container text-center">
                        <button type="submit" class="btn btn-outline-success">Принять</button>
                        <button type="button" class="btn btn-outline-danger">Отменить</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<div th:insert="/blocks/footer :: footer"></div>
</body>
</html>