<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- блок head с ресурсами JS и bootstrap -->
<div th:insert="blocks/head :: head"></div>

<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container mt-4 p-4">
    <h2 class="text-center mt-4 p-4">
        Личный кабинет
    </h2>
    <div class="card">
        <div class="card-header" th:text="${client.getFullName}"></div>
        <div class="card-body">

            <h5 class="card-title" th:text="'Ваш баланс: ' + ${#numbers.formatDecimal(client.getBalance, 1, 2)} + ' RUB'"></h5>
            <p class="card-text">В любое время вы можете пополнить ваш баланс банковской картой.</p>
            <p class="card-text" th:if="${clientAccounts.isEmpty()}">
                У вас ещё нет инвестиционного счёта, для того чтобы начать пользоваться инвест-продуктами, откройте свой первый инвестиционный счёт и пополните его.
            </p>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#cardModal">Пополнить</button>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#withdrawBalanceModal">Вывод средств</button>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createAccountModal">Открыть инвестиционный счёт</button>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#upAccountBalanceModal">Перевести деньги на счёт</button>
            <a th:href="@{/account/transactions}" class="btn btn-outline-success">История транзакций</a>


            <!-- модальное окно пополнение баланса с карты -->
            <div th:insert="account/blocks/card_to_balance_modal :: cardToBalance"></div>
            <!-- модальное окно вывод средств с баланса на карту -->
            <div th:insert="account/blocks/balance_to_card_modal :: withdrawBalance"></div>
            <!-- модальное окно для открытия счёта -->
            <div th:insert="account/blocks/create_account_modal :: createAccount"></div>
            <!-- модальное окно для перевода денег на счета -->
            <div th:insert="account/blocks/up_account_balance_modal :: upAccountBalance"></div>

        </div>
    </div>
</div>

<!-- сообщения ошибок валидации вывода денег с акаунта-->
<div th:if="${validationError}" class="container alert alert-danger text-center" th:text="${validationError}"></div>
<!-- сообщения об успешных транзакциях -->
<div th:if="${success}" class="container alert alert-success text-center" th:text="${success}"></div>




<section class="py-5 text-center mt-5 container"><h1>Инвестиционные счета</h1></section>

<div class="container album py-5 bg-light">

    <div th:each="account : ${clientAccounts}" class="container mt-5">
        <!-- карточки открытых счетов -->
        <div class="card">
            <p th:text="'Счёт №: ' + ${account.getAccountNumber} + ', валюта счёта ' + ${account.getCurrency}" class="card-header"></p>
            <div class="card-body">
                <h5 class="card-title btn-toolbar">
                <p th:text="'Баланс счёта: '+ ${account.getBalance} + ' '+ ${account.getCurrency}"></p>
                <button type="button" class="btn btn-outline-success mx-4" data-bs-toggle="modal" th:attr="data-bs-target='#withdrawModal' + ${account.getId}">Вывести</button>
                </h5>
                <p class="card-text" th:text="${account.getDescription}"></p>

                <!-- модальное окно для вывода денег со счёта -->
                <div th:insert="account/blocks/withdraw_account_modal :: withdrawAccountBalance"></div>


                <div th:if="${!account.getClientInvestProds.isEmpty()}" class="card-footer">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center">Инвест продукт</th>
                            <th class="text-center">Процентная ставка</th>
                            <th class="text-center">Сумма вклада</th>
                            <th class="text-center">Дата окончания вклада</th>
                            <th class="text-center">Срок вклада (дней)</th>
                            <th class="text-center">Вы заработаете</th>
                            <th class="text-center"></th>
                        </tr>
                        <tr th:each="clientInvestment : ${account.getClientInvestProds}">
                            <td class="col-1 text-center" th:text="${clientInvestment.getInvestProduct.getName}"></td>
                            <td class="col-1 text-center" th:text="${clientInvestment.getInvestProduct.getInterestRate} + ' %'"></td>
                            <td class="col-1 text-center" th:text="${clientInvestment.getBalance} + ' ' + ${clientInvestment.getInvestProduct.getCurrency}"></td>
                            <td class="col-1 text-center" th:text="${#temporals.format(clientInvestment.getExpireDate, 'dd.MM.yyyy  HH:mm')}"></td>
                            <td class="col-1 text-center" th:text="${clientInvestment.getDays}"></td>
                            <td class="col-1 text-center" th:text="${clientInvestment.getProfit} + ' ' + ${clientInvestment.getInvestProduct.getCurrency}"></td>
                            <td class="col-1 text-center">
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" th:attr="data-bs-target='#closeInvestment' + ${clientInvestment.getId}">Закрыть</button>
                            </td>
                                            <!--Модальное окно для закрытия вклада-->
                            <div th:insert="account/blocks/close_investment_modal :: closeInvestment"></div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="/blocks/footer :: footer"></div>

<!--показывает ошибки формы пополнения баланса клиента-->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:if="${upBalanceError}">
    $(document).ready(function(){
        $("#cardModal").modal("show")
    })
</script>

<!--показывает ошибки формы пополнения баланса аккаунта-->
<script th:if="${inputAmountError}">
    $(document).ready(function(){
        $("#upAccountBalanceModal").modal("show")
    })
</script>

<!--показывает ошибки формы пополнения баланса аккаунта-->
<script th:if="${outputAmountError}">
    $(document).ready(function(){
        $("#withdrawBalanceModal").modal("show")
    })
</script>
<!--показывает ошибки формы подмены id аккаунта при пополнении баланса аккаунта-->
<script th:if="${accountValidationError}">
    $(document).ready(function(){
        $("#upAccountBalanceModal").modal("show")
    })
</script>

</body>
</html>