<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- блок head с ресурсами JS и bootstrap -->
<div th:insert="blocks/head :: head"></div>

<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container mt-4 p-4">
    <h2 class="text-center mt-4 p-4">
        Личный кабинет
    </h2>
    <div class="card">
        <div class="card-header" th:text="${client.getFullName}"></div>
        <div class="card-body">

            <h5 class="card-title" th:text="'Ваш баланс: ' + ${#numbers.formatDecimal(client.getBalance, 0, 2)} + ' RUB'"></h5>
            <p class="card-text">В любое время вы можете пополнить ваш баланс банковской картой.</p>
            <p class="card-text" th:if="${depoAccs.isEmpty()}">
                У вас ещё нет инвестиционного счёта, для того чтобы начать пользоваться инвест-продуктами, откройте свой первый инвестиционный счёт и пополните его.
            </p>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#cardModal">Пополнить</button>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createDepoAccModal">Открыть инвестиционный счёт</button>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#upDepositBalanceModal">Перевести деньги на счёт</button>

            <!-- модальное окно пополнения баланса с карты -->
            <div th:insert="blocks/card_to_balance_modal :: card"></div>
            <!-- модальное окно для открытия счёта -->
            <div th:insert="blocks/create_depo_acc_modal :: createAccDepo"></div>
            <!-- модальное окно для перевода денег на счета -->
            <div th:insert="blocks/up_depo_balance_modal :: upDepositBalance"></div>

        </div>
    </div>
</div>

<!-- сообщения валидации из ClienBalanceValidator -->
<div th:if="${amount}" class="container alert alert-danger text-center" th:text="${amount}"></div>
<div th:if="${validationErrror}" class="container alert alert-danger text-center" th:text="${validationErrror}"></div>
<!-- сообщения от успешных транзакциях -->
<div th:if="${success}" class="container alert alert-success text-center" th:text="${success}"></div>




<section class="py-5 text-center mt-5 container"><h1>Инвестиционные счета</h1></section>

<div class="container album py-5 bg-light">

    <div th:each="account : ${depoAccs}" class="container mt-5">
        <div class="card">
            <p th:text="'Счёт №: ' + ${account.getAccountNumber} + ', валюта счёта ' + ${account.getCurrency}" class="card-header"></p>
            <div class="card-body">
                <h5 th:text="'Баланс счёта: '+ ${account.getBalance} + ' '+ ${account.getCurrency}" class="card-title"></h5>

                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" th:attr="data-bs-target='#withdrawModal' + ${account.getId}">Вывести</button>

                <!-- модальное окно для вывода денег со счёта -->
                <div th:insert="blocks/withdraw_depo_acc_modal :: withdrawDepositBalance"></div>

                <!-- карточки открытых счетов -->
                <p class="card-text" th:text="${account.getDescription}"></p>
                <div th:if="${!account.getClientInvestProds.isEmpty()}" class="card-footer">
<!--                    <ul class="list-group list-group-flush" >-->
                        <table class="table table-bordered">
                            <tr>
                                <th class="text-center">Инвест продукт</th>
                                <th class="text-center">Процентная ставка</th>
                                <th class="text-center">Сумма вклада</th>
                                <th class="text-center">Дата окончания вклада</th>
                                <th class="text-center">Вы заработаете</th>
                                <th class="text-center">#</th>
                            </tr>
                            <tr th:each="clientInvestment : ${account.getClientInvestProds}">
                                <td class="col-1 text-center" th:text="${clientInvestment.getInvestProduct.getName}"></td>
                                <td class="col-1 text-center" th:text="${clientInvestment.getInvestProduct.getInterestRate} + ' %'"></td>
                                <td class="col-1 text-center" th:text="${clientInvestment.getBalance} + ' ' + ${clientInvestment.getInvestProduct.getCurrency}"></td>
                                <td class="col-1 text-center" th:text="${#temporals.format(clientInvestment.getExpireDate, 'dd-MM-yyyy  HH:mm')}"></td>
                                <td class="col-1 text-center" th:text="${clientInvestment.getProfit} + ' ' + ${clientInvestment.getInvestProduct.getCurrency}"></td>
                                <td class="col-1 text-center">Закрыть</td>
                            </tr>
                        </table>
                        <li class="list-group-item" >

                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="/blocks/footer :: footer"></div>


</body>
</html>