<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>EGAR Technology</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</head>

<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container mt-4 p-4">
    <h2 class="text-center mt-4 p-4">
        Личный кабинет
    </h2>
    <div class="card">
        <div class="card-header" th:text="${client.getFullName}"></div>
        <div class="card-body">
            <h5 class="card-title" th:text="'Ваш баланс: '+${client.getBalance}"></h5>
            <p class="card-text">В любое время вы можете пополнить ваш баланс банковской картой.</p>
            <p class="card-text" th:if="${depoAccs.isEmpty()}">
                У вас ещё нет инвестиционного счёта, для того чтобы начать пользоваться инвест-продуктами, откройте свой первый инвестиционный счёт и пополните его.
            </p>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#cardModal">Пополнить</button>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createDepoAccModal">Открыть инвестиционный счёт</button>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#upDepositBalanceModal">Перевести деньги на счёт</button>

            <!-- модальное окно пополнения баланса с карты -->
            <div th:insert="blocks/card_to_balance_modal :: card"></div>
            <!-- модальное окно для открытия счёта -->
            <div th:insert="blocks/create_depo_acc_modal :: createAccDepo"></div>
            <!-- модальное окно для педа денег на счета -->
            <div th:insert="blocks/up_depo_balance_modal :: upDepositBalance"></div>

        </div>
    </div>
</div>



<section class="py-5 text-center mt-5 container"><h1>Инвестиционные счета</h1></section>

<div class="container album py-5 bg-light">

    <div th:each="account : ${depoAccs}" class="container mt-5">
        <div class="card">
            <p th:text="'Счёт №: ' + ${account.getAccountNumber} + ', валюта счёта ' + ${account.getCurrency}" class="card-header"></p>
            <div class="card-body">
                <h5 th:text="'Баланс счёта: '+ ${account.getDepositBalance} + ' '+ ${account.getCurrency}" class="card-title"></h5>
                <button type="button" class="btn btn-sm btn-outline-secondary">Вывести</button>
                <p class="card-text" th:text="${account.getDescription}"></p>
                <div class="card-footer">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="/blocks/footer :: footer"></div>


</body>
</html>