<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- блок head с ресурсами JS и bootstrap -->
<div th:insert="blocks/head :: head"></div>

<body>
<header th:insert="blocks/navbar :: navbar"></header>

<div class="container album py-5 bg-light">

    <h1 class="text-center lh-base p-4 mt-5">Регистрация</h1>
    <div class="conteiner col-4 mx-auto">
        <!-- если есть сообщения из контроллера то показать сообщение(клиент существует) -->
        <div class="alert alert-danger" th:if="${emailError}" th:text="${emailError}"></div>
        <!-- Форма регистрации клиента -->
        <form th:action="@{/registration}" th:object="${client}" method="post">
            <p><label> Фамилия : </label><input class="form-control col-6" type="text" th:field="*{lastName}"/> </p>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"></div>
            <p><label> Имя : </label><input class="form-control col-6" type="text" th:field="*{firstName}"/> </p>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger"></div>
            <p><label> Отчество : </label><input class="form-control col-6" type="text" th:field="*{middleName}"/> </p>
            <div th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" class="alert alert-danger"></div>
            <p><label> Электронная почта : </label><input class="form-control col-6" type="email" th:field="*{email}"/> </p>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
            <p><label> пароль: </label><input class="form-control col-6" type="password" id="password" th:field="*{password}"/> </p>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></div>
            <div class="form-check form-check-inline">
                <label>Показать пароль<input class="form-check-input" id="show_pass" type="checkbox"></label>
            </div>
            <p><div class="container text-center"><button class="btn btn-outline-success" type="submit">Регистрация</button></div></p>
        </form>
    </div>

</div>
<div th:insert="/blocks/footer :: footer"></div>



<!-- jquery и чекбокс показать пароль -->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script>
    $('body').on('click', '#show_pass', function(){
        if ($(this).is(':checked')){
            $('#password').attr('type', 'text');
        } else {
            $('#password').attr('type', 'password');
        }
    });
</script>
</body>
</html>