<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container text-center">
            <p class="float-end mb-1">
                <a href="#">Наверх</a>
            </p>
            <p><span dir="ltr"><strong>Контакты:</strong> электронная почта&nbsp;</span><strong>alterwmn@gmail.com</strong>,<strong>&nbsp;</strong>страница <a href="https://vk.com/world_so_cold">vk.com</a>, телеграмм <a href="https://t.me/MsfoStockBot"><strong>MsfoStockBot</strong></a>&nbsp;&nbsp;</p>
        </div>
    </footer>
</div>