<div th:fragment="navbar"
     xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <th:block sec:authorize="hasAnyAuthority('USER', 'HEAD_MANAGER')">
    <nav class="navbar-light navbar-expand-md navbar fixed-top" style="background-color: #f1c6ab;">
    </th:block>
    <th:block sec:authorize="hasAuthority('USER')">
        <nav class="navbar-light navbar-expand-md navbar fixed-top" style="background-color: #afecda;">
    </th:block>
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar-light navbar-expand-md navbar fixed-top" style="background-color: #bbe2f7;">
    </th:block>
    <div class="container-fluid">
            <a class="navbar-brand" href="/">Домашняя страница</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/deposits}">Инвестиционные продукты</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAuthority('HEAD_MANAGER')">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/products/disabled}">Деактивированные депозиты</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAuthority('HEAD_MANAGER')">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/clients}">Клиенты</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAuthority('HEAD_MANAGER')">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/clients/investments}">Инвестиции клиентов</a>
                    </li>

                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link active" th:href="@{/registration}">Регистрация</a>
                    </li>

                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link active" th:href="@{/login}">Вход</a>
                    </li>
                        <!--sec:authorize="isAuthenticated()" -->
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/account}">Личный кабинет</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <a class="nav-link active" href="#" onclick="this.parentNode.submit()">Выход</a>
                        </form>
                    </li>

                </ul>
                <div th:if="${currentPage == 'deposits'}">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>